<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <link rel="shorcut icon" type="image/ico" href="~/images/icono.ico" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/Css/main.css"/>
    <link rel="stylesheet" href="~/Css/estilo.css" />
    <noscript><link rel="stylesheet" href="~/Css/noscript.css"/></noscript>
</head>
<body>
    <div>
        

    </div>
    @RenderBody()
    <!-- Scripts -->
    <script src="~/Js/jquery.min.js"></script>
    <script src="~/Js/jquery.scrolly.min.js"></script>
    <script src="~/Js/jquery.min.js"></script>
    <script src="~/Js/jquery.scrolly.min.js"></script>
    <script src="~/Js/jquery.dropotron.min.js"></script>
    <script src="~/Js/jquery.scrollex.min.js"></script>
    <script src="~/Js/browser.min.js"></script>
    <script src="~/Js/breakpoints.min.js"></script>
    <script src="~/Js/util.js"></script>
    <script src="~/Js/main.js"></script>
    <script src="~/Js/filtro.js"></script>

</body>
</html>