<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <link rel="shorcut icon" type="image/ico" href="~/images/icono.ico" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/Css/Nosotros.css" />
    <noscript><link rel="stylesheet" href="~/Css/noscript.css" /></noscript>
</head>
<body>
    <div>
        

    </div>
    @RenderBody()
    <!-- Scripts -->
    <script src="~/Js/js/jquery.min.js"></script>
    <script src="~/Js/js//jquery.easing.1.3.js"></script>
    <script src="~/Js/js//bootstrap.min.js"></script>
    <script src="~/Js/js//jquery.waypoints.min.js"></script>
    <script src="~/Js/js//owl.carousel.min.js"></script>
    <script src="~/Js/js//jquery.magnific-popup.min.js"></script>
    <script src="~/Js/js//magnific-popup-options.js"></script>
    <script src="~/Js/js//main.js"></script>


</body>
</html>